@font-face {
  font-family: "ak-gr";
  src: url("/fonts/AktivGrotesk_Trial_Bdlt.ttf");
  font-display: swap;
}

// @font-face {
//   font-family: "ak-gr-vf";
//   src: url("/fonts/AktivGroteskCd_Trial_It.ttf");
//   // src: url("/fonts/AktivGroteskVF_Trial_Wght.ttf");
//   font-display: swap;
// }
